[sample_task_1]
username =
password =
server =
database =
port = 3306

# example for linux:
outdir = "/home/dumper"

# example for windows:
# outdir = "C:\\dumper"

# and yeah, it's important to write exactly "\\" for windows

encoding = utf8
jobtime = * 17 */1 * *

[sample_task_2]
database =
alias = sample_task_1
jobtime = 30 3 * * Tue
